# Ignore node_modules in both root and client directories
node_modules/
client/node_modules/


client/src/


client/public/

# Ignore .env files (don't push sensitive information)
.env
client/.env

client/package-lock.json
client/package.json
client/README.md
client/.gitignore

